@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right,purple,yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.center-div{
    width: 35vw;
    height: 70vh;
    background:linear-gradient(to right, #0000ff99,rgba(0,255,0,0.4));
    font-family: 'Baloo Bhaijaan 2', cursive;
    text-align: center;
    border-radius:1rem ;
    box-shadow: 0px 0px 2px 2px #f5ecec;
}

.center-div h3{
    margin: 1rem 0rem;
    background-color: darkorange;
}

.center-div input{
    margin: 0rem 0.5rem;
    font-size: larger;
    outline: none;
    border: none;
    font-family: 'Baloo Bhaijaan 2', cursive;
    padding: 0rem 0.4rem;
    width: 50%;
   
}

.center-div button{
    background-color: yellow;
    padding: 0.5rem;
    outline: none;
    border: none;
    border: 50%;
    border-radius: 26%;
    width: 9%;
   
}

.center-div button:hover{
    background-color: purple;
    cursor: pointer;
}

.center-div ol{
    margin-top: 1rem;
}

.center-div li{
   
    list-style: none;
    text-align: center;
    font-size: larger;
}
